{% extends '@layout/default.html.twig' %}

{% block title %}Página de Teste{% endblock %}

{% block content %}

    <h1>{{ teste }}</h1>
    <h2>Criando Variáveis</h2>

    {% set nome = "Daniel Bispo" %}
    {% set idade = 34 %}

    <p>
        Olá, me chamo {{ nome }} e tenho {{ idade }} anos.
        Ah... Mas que saudades de 10 anos atrás, quando eu tinha {{ idade - 10 }} anos....
    </p>

    <h2>Outro jeito de criar variáveis - Tudo junto</h2>

    {% set nome, idade = "Daniel Bispo", 34 %}

    <p>
        Olá, me chamo {{ nome }} e tenho {{ idade }} anos.
        Ah... Mas que saudades de 10 anos atrás, quando eu tinha {{ idade - 10 }} anos....
    </p>

    <h3>Exemplo de Concatenação</h3>
    <p>
        {{ nome ~ " - " ~ idade }}
    </p>

    <h2>Setando variável com grande conteúdo</h2>

    {% set div %}
        <div>Testando outra forma de criar uma variável</div>
    {% endset %}

    {{ div }}

    <h2>Arrays</h2>

    <p>
        Os arrays funcionam de forma parecida ao JS... Assim
    </p>

    <h3>Array simples</h3>
    {% set array = [1,2,3,4,5] %}
    <p>Posição 0 do array: {{ array[0] }}</p>

    <h3>Array Associativo</h3>
    {% set arrayAssoc = { "pos1": "Teste", "pos2": "Teste 2" } %}
    <p>Mostrando valor da chave 'pos1': {{ arrayAssoc.pos1 }}</p>
    <p>Outro jeito: {{ arrayAssoc['pos2'] }}</p>

    <h2>Laço de Repetição: For</h2>

    <h3>Sequencia de numeros</h3>
    <ul>
        {% for value in 0..10 %}
            <li>{{ value }}</li>
        {% endfor %}
    </ul>

    <h3>Sequencia de caracteres</h3>

    <ul>
        {% for value in 'a'..'z' %}
            <li>{{ value }}</li>
        {% endfor %}
    </ul>

    <h3>Sequencia de caracteres usando o index real</h3>
    <ul>
        {% for value in 'a'..'z' %}
            <li>{{ loop.index0 }} - {{ value }}</li>
        {% endfor %}
    </ul>

    <h3>Sequencia de caracteres usando o index natural</h3>
    <ul>
        {% for value in 'a'..'z' %}
            <li>{{ loop.index }} - {{ value }}</li>
        {% endfor %}
    </ul>

    <h3>Sequencia de caracteres usando array</h3>
    <ul>
        {% for value in array %}
            <li>{{ loop.index0 }} - {{ value }}</li>
        {% endfor %}
    </ul>

    <h3>Sequencia de caracteres usando array associativo</h3>
    <ul>
        {% for key,value in arrayAssoc %}
            <li>{{ loop.index0 }} - {{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>

    <h2>Filtros</h2>

    <h3>Raw - Obrigando a mostrar o valor exatamente como é, sem uso de escapes</h3>
    {% set negrito = "<b>Deixando em Negrito</b>" %}
    <p>{{ negrito | raw }}</p>

    <h3>Escape - Obrigando a escapar o conteúdo</h3>
    <p>{{ "<b>Excapando o negrito</b>" | escape }}</p>

    <h3>Removendo espaços extras</h3>
    {% set espacos = "   Muitos espaços ou nenhum?  " %}
    <input type="text" value="{{ espacos | trim }}">

    <h3>Removendo caracteres nas estremindades</h3>
    {% set espacos = "É uma pergunta?" %}
    <input type="text" value="{{ espacos | trim('?') }}">

    <h3>Data atual</h3>
    {% set data = "now" %}
    <p>{{ data | date('d/m/Y') }}</p>

    <h2>Estrutura condicional</h2>

    <h3>IF</h3>
    {% set num = 2 %}
    <p>
        {% if num < 2 %}
            Numero <b>{{ num }}</b> é menor que que 2
        {% elseif num == 2 %}
            Numero <b>{{ num }}</b> é igual a 2
        {% else %}
            Numero <b>{{ num }}</b> é maior que 2
        {% endif %}
    </p>

    <h2>Tags Expecificas</h2>

    <h3>Classes</h3>

    {% do minhaClasse.setNome('Daniel Bispo') %}
    <p>
        Mostrando meu nome após tag "do": {{ minhaClasse.nome }}.
        (Não precisa usar o getNome(), pq é automático. Mas pode-se usar tb.)
    </p>
    <p>Acessando uma constante diretamente: {{ constant('EmailMKT\\TesteDoTwig::CONSTANTE_TESTE') }}</p>
    <p>Acessando uma constante pela classe informada: {{ constant('CONSTANTE_TESTE', minhaClasse) }}</p>

    <h2>Exemplo de include - o With é opcional, quando se quer enviar novos dados para o include</h2>
    {% include '@app/teste_include.html.twig' with {'dadosWith': teste} %}

    <h2>Fazendo debug de uma variável</h2>
    <pre>{{ dump(minhaClasse, teste) }}</pre>

    <h2>Fazendo debug de todas as variáveis da página do template</h2>
    <pre>{{ dump() }}</pre>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $( 'p' ).fadeOut( 500, function () {
            $( this ).fadeIn( 500 );
        } );
    </script>
{% endblock %}