{% extends '@layout/default.html.twig' %}

{% block title %}Página de Teste{% endblock %}

{% block content %}

    <h1>{{ teste }}</h1>

    <h2>Testando Doctrine</h2>

    <ul>
        {% for cliente in clientes %}
            <li>
                <b>Nome</b>: {{ cliente.nome }}<br>
                <b>Email</b>: {{ cliente.email }}<br>
                <b>CPF</b>: {{ cliente.cpf }}<br>
                <b>Endereço</b>:
                    {{ cliente.endereco.cep }}: {{ cliente.endereco.logradouro }} -
                    {{ cliente.endereco.cidade }}/{{ cliente.endereco.estado }}<br>
                <small>Cliente desde <time datetime="{{ cliente.createdAt|date("Y-m-d H:i:s") }}">{{ cliente.createdAt|date("d/m/Y") }}</time></small><hr>
            </li>
        {% endfor %}
    </ul>

{% endblock %}