{% extends '@layout/default.html.twig' %}

{% block page_header %}Apagar o Contato - {{ form.getObject().name }}{% endblock %}

{% block title %}{{ block("page_header") }} | {{ parent() }}{% endblock %}

{% block content %}
    {% include '@app/user/_form-header.html.twig' %}

    {% do form.get('submit').setAttribute('class', 'btn btn-danger').setLabel('<i class="fa fa-trash-o"></i> Apagar mesmo?') %}

    {% do form.setAttribute('action', url('user.delete', {id: form.getObject().id})) %}
    {% do form.prepare() %}

    <div class="row">
        <div class="col-md-7">
            <div class="box box-danger">

                <fieldset disabled class="box-body">
                    {% include '@app/user/_form-body.html.twig' %}
                </fieldset>

                {{ form().openTag(form) | raw }}
                {{ formHidden(form.get('_method')) }}

                {% include '@app/user/_form-footer.html.twig' %}

                {{ form().closeTag() | raw }}

            </div>
        </div>
    </div>

{% endblock %}