{% set email = form.get('email') %}
{% set msg = formElementErrors(email, { class: 'help-block' }) %}

<div class="box-body">
    <div class="form-group">
        {{ formRow(form.get('name')) }}
    </div>
    <div class="form-group {{ msg ? 'has-error' }}">
        {{ formLabel(email) }}
        <div class="input-group">
            <label for="email" class="input-group-addon"><i class="fa fa-envelope"></i></label>
            {{ formElement(email) }}
        </div>
        {{ msg | raw }}
    </div>
    <div class="form-group">
        {{ formRow(form.get('tags')) }}
    </div>
</div>