{% extends '@layout/default.html.twig' %}

{% block page_header %}Apagar o Contato - {{ form.getObject().name }}{% endblock %}

{% block title %}{{ block("page_header") }} | {{ parent() }}{% endblock %}

{% block content %}
    {% set name = form.get('name') %}
    {% do name.setAttribute('class', 'form-control') %}

    {% set email = form.get('email') %}
    {% do email.setAttribute('class', 'form-control') %}

    {% set submit = form.get('submit') %}
    {% do submit.setAttribute('class', 'btn btn-danger').setLabel('<i class="fa fa-trash-o"></i> Apagar mesmo?') %}

    {% do form.setAttribute('action', url('customer.delete', {id: form.getObject().id})) %}
    {% do form.prepare() %}

    <div class="row">
        <div class="col-md-7">
            <div class="box box-danger">

                <fieldset disabled class="box-body">
                    <div class="form-group">
                        {{ formRow(name) }}
                    </div>
                    <div class="form-group">
                        {{ formRow(email) }}
                    </div>
                </fieldset>

                {{ form().openTag(form) | raw }}
                {{ formHidden(form.get('_method')) }}

                <div class="box-footer">
                    {{ formButton(submit) }}
                    <a class="btn btn-default" href="{{ url("customers.list") }}"><i class="fa fa-ban text-danger"></i>
                        Cancelar</a>
                </div>

                {{ form().closeTag() | raw }}

                </form>

            </div>
        </div>
    </div>

{% endblock %}