{% extends '@layout/default.html.twig' %}

{% block page_header %}Edição de Contato - {{ customer.name }}{% endblock %}

{% block title %}{{ block("page_header") }} | {{ parent() }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-7">
            <div class="box box-primary">
                <form name="form" role="form" method="post" action="{{ url("customer.update", {id: customer.id}) }}">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name">Nome:</label>
                            <input type="text" class="form-control" name="name" id="name" value="{{ customer.name }}">
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <div class="input-group">
                                <label for="email" class="input-group-addon"><i class="fa fa-envelope"></i></label>
                                <input type="email" class="form-control" name="email" id="email"
                                       value="{{ customer.email }}" required>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Alterar</button>
                        <a class="btn btn-default" href="{{ url("customers.list") }}"><i
                                    class="fa fa-ban text-danger"></i> Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}