{% extends identity() is not null ?'@layout/default.html.twig':'@layout/auth.html.twig' %}

{% block title %}{{ status }} {{ reason }}{% endblock %}

{% block content %}
    <h1>Oops!</h1>
    <h2>Algo de errado não está certo...</h2>
    {% if status == 404 %}
        <p>Não encontramos a página que você procura.</p>
        <p>
            Pode ser que ela tenha sido movida, pilantrada, apagada, sacaneada, ou apenas te
            trolaram mesmo. Pedimos desculpas por isso. Que tal dar uma olhadinha na
            <a href="{{ path((identity() is not null) ? 'home' : 'auth.login') }}">Home</a>?
        </p>
    {% else %}
        <p>Encontramos o seguinte erro: {{ status }} {{ reason }}.</p>
    {% endif %}
{% endblock %}
