{% extends '@layout/default.html.twig' %}

{% block page_header %}Edição de Contato - {{ form.getObject().name }}{% endblock %}

{% block title %}{{ block("page_header") }} | {{ parent() }}{% endblock %}

{% block content %}
    {% include '@app/campaign/_form-header.html.twig' %}

    {% do form.get('submit').setAttribute('class', 'btn btn-primary').setLabel('<i class="fa fa-check"></i> Salvar Alterações') %}

    {% do form.setAttribute('action', url('campaign.update', {id: form.getObject().id})) %}
    {% do form.prepare() %}

    <div class="row">
        <div class="col-md-7">
            <div class="box box-primary">

                {{ form().openTag(form) | raw }}
                {{ formHidden(form.get('_method')) }}

                {% include '@app/campaign/_form-body.html.twig' %}

                {% include '@app/campaign/_form-footer.html.twig' %}

                {{ form().closeTag() | raw }}

            </div>
        </div>
    </div>

{% endblock %}